node_modules
npm-debug.log
dist
build
.git
.gitignore
.env
.env.local
*.pyc
__pycache__
*.sqlite3
db.sqlite3
venv
.venv
.vscode
.idea
.DS_Store
media/*
!media/.gitkeep
staticfiles
.dockerignore
Dockerfile
docker-compose.yml
.github
.gitlab-ci.yml
.circleci
.travis.yml
